.jumbotron.pokedex {
	color: $black;
	margin-bottom: 1rem;
	overflow: hidden;

	h1 {
		text-align: center;
	}

	.heading, .subheading {
		color: $white;
		font-family: 'Pokemon Solid';
		text-align: center;
	}

	.filter-sidebar {
		align-items: center;
		background: $white;
		color: $black;
		display: flex;
		height: 100%;
		padding: 1.5rem 1rem;

		label {
			display: block;
		}

		> div {
			width: 100%;
		}

		.heading-2 {
			font-weight: bold;
			text-align: center;
		}

		.update {
			border-top: $accordion-border-width solid $accordion-border-color;
		}

		.category {
			background: none;
			padding-bottom: 0.5rem;
			text-align: center;
			text-decoration: underline;
		}

		.block {
			border-top: 1px solid $gray-500;
			margin-top: 1rem;
			padding-top: 1rem;

			&.dashed {
				border-style: dashed;
			}
		}

		.export {
			margin: 1rem 0.8rem 0;
		}

		.accordion-button {
			color: inherit;
			padding: 0;
		}

		.accordion-collapse {
			padding-top: 1rem;
		}
	}

	.filter-content {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0;
	}

	.accordion {
		width: 100%;

		.accordion-header button {
			border-radius: 0;
			justify-content: space-between;
			font-weight: bold;
			text-align: center;

			.btn {
				margin-right: 1.5rem;
			}

			&:after {
				position: absolute;
				right: 10px;
			}
		}
	}

	.pokemon {
		@include make-col-ready();
		color: $black;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		text-align: center;

		.background-image {
			height: 5rem;
		}	

		.card {
			border: none;
			border-width: 0px 12px 0px 12px;
			border-style: double;
			border-color: $gray-500;
			border-radius: $border-radius-lg;
			margin: 0 0.5rem;
			transition: $transition-base;

			.card-img-top, .card-body {
				padding: 0.5rem;
			}

			.card-body {
				border-top: 1px solid $secondary;
				padding-bottom: 0;
				transition: border-color .2s ease-in-out;
			}

			.card-title {
				margin-bottom: 0;
			}

			// Add rainbow on hover
			&:hover {
				@include rainbow-border($secondary, $border-radius-lg);
				color: $white;
				overflow: visible;

				.card-body {
					border-color: transparent;
				}

				.types:hover {
					//@include types-outline();
				}
			}
		}

		@include media-breakpoint-up(sm) {
			@include make-col(2);
		}
		@include media-breakpoint-up(md) {
			@include make-col(4);
		}

		.card-image-block {
			align-items: center;
			display: flex;
			justify-content: center;
			height: 200px;

			img {
				height: auto;
				margin: 0 auto;
				width: auto;
			}
		}
	}

	.types {
		align-items: center;
		display: flex;
		justify-content: center;

		.type {
			@include types-solid();
			border-radius: 1rem;
			padding: 0.5rem 1rem;
			margin: 0.5rem;

			&:hover {
				@include types-outline();
			}
		}
	}

	.container.bw {
		.types {
			.type {
				@include types-outline();
			}
		}
	}
}
