@import "modules/variables-all";
@import "modules/animations";
@import "modules/mixins";
@import "wa-sass.1/basic/mixins/misc";

@page { margin: 1rem; }

body.pdf {
	//display: table;
    margin: auto !important;
    //height: 100vh;
    //vertical-align: middle;
}

body.pdf, .printable {
    > div {
    	//background: red;
    	//display: table-cell;
    }

	.d-table, table {
		//border-spacing: 15px;
		margin: auto;
		vertical-align: middle;
	}

	.d-table {
		//border-spacing: 15px;
		//display: table;
	}

	.d-caption {
		display: table-caption;
		margin: auto;
		text-align: center;
	}
}

.jumbotron.pokedex.printable {
	font-family: 'Nunito';
	height: 100%;
	overflow: visible;
	vertical-align: middle;

	&, .heading, .subheading {
		color: $black;
	}

	.heading {
		font-size: 2rem;
	}

	.subheading {
		font-size: 1.5rem;
	}

	.heading, .subheading {
		font-family: 'Pokemon Hollow';
		margin-left: auto; margin-right: auto;
	}

	table.breakable {
		//, tbody tr:nth-child(3n+5)
		tbody tr:nth-child(2n) { 
			//background: red;
			page-break-after: always; 
		}
	}

	.pokemon {
		border: 1px solid $gray-500;
		border-radius: 10px;
		padding-top: 0.5rem;
		height: 160px;
		width: 200px;

		.image {
			height: 120px;

			img {
				height: 100%;
				width: auto;
			}
		}

		.body {
			border-top: 1px solid $gray-500;
			padding-top: 1.5rem;
			margin-top: 10px;
			//margin-bottom: 10px;
			//align-items: center;
			//display: flex;
			//flex-direction: column;
			//justify-content: center;
			//margin-top: 3rem;
			//height: 180px;

			.title {
				line-height: 1;
				margin-top: -0.5rem;
			}

			.text {
				font-size: 90%;
				line-height: 0.8;
				padding: 0.25rem 0.15rem 0.75rem;
			}

			.types {
				align-items: unset;
				display: block;
				justify-content: unset;

				margin-top: -0.75rem;
				margin-bottom: -0.75rem;
				padding-top: 1rem;
				
				&.count-1 {
					margin-top: -0.5rem;
				}

				&.count-2 {
					//margin-top: 0.5rem;
				}

				span {
					border-radius: 20px;
					display: inline-block;
					margin: 0 0.25rem 0;
					padding: 1.1rem 1rem 0.5rem;
				}

				.type.empty {
					border: none;
				}
			}
		}
	}

	.container.bw {
		.types {
			.type {
				border: 1px solid $black;
				box-shadow: none;
				color: $black;
			}
		}
	}
}