@-webkit-keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@page {
  margin: 1rem;
}
body.pdf {
  display: table;
  margin: auto !important;
  height: 100vh;
  vertical-align: middle;
}

body.pdf .table, .printable .table {
  border-spacing: 15px;
  display: table;
  margin: auto;
}
body.pdf .table .table-row, .printable .table .table-row {
  display: table-row;
}
body.pdf .d-tablecell, .printable .d-tablecell {
  display: table-cell;
}

.jumbotron.pokedex.printable {
  font-family: "Nunito";
  height: 100%;
  overflow: visible;
  vertical-align: middle;
}
.jumbotron.pokedex.printable, .jumbotron.pokedex.printable .heading {
  color: #000;
}
.jumbotron.pokedex.printable .heading {
  display: table-caption;
  font-family: "Pokemon Solid";
  margin: auto;
  text-align: center;
}
.jumbotron.pokedex.printable .pokemon {
  border: 1px solid #adb5bd;
  border-radius: 10px;
  padding-top: 0.5rem;
  height: 200px;
  width: 200px;
}
.jumbotron.pokedex.printable .pokemon .image {
  height: 150px;
}
.jumbotron.pokedex.printable .pokemon .image img {
  height: 100%;
  width: auto;
}
.jumbotron.pokedex.printable .pokemon .body {
  border-top: 1px solid #adb5bd;
  padding-top: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.jumbotron.pokedex.printable .pokemon .body .types {
  padding-top: 1rem;
}
.jumbotron.pokedex.printable .pokemon .body .types span {
  border-radius: 20px;
  display: inline-block;
  margin: 0.25rem 0.25rem 0;
  padding: 1rem 1rem 0.5rem;
}
.jumbotron.pokedex.printable .pokemon .card {
  border-width: 2px;
  display: block;
}
